
export(Node)
export(AddNode)
export(Calibrate)
export(Path)
export(PathToRoot)
export(SetDistanceToChild)
export(SetDistancesFromParent)
export(SetTotalWeightAtLevel)
export(Taxonomy)
export(TaxonomyFromPaths)
export(CalibratedTaxonomy)
export(ComputeDistances)
export(SamplingProbabilities)
export(RI)
export(hRI)
export(ARI)
export(hARI)
export(Jacc)

export(OverallAcc)
export(hOverallAcc)
export(AccPerMatch)
export(hAccPerMatch)
export(F1PerMatch)
export(hF1PerMatch)

S3method(print, Node)
S3method(AddNode, Taxonomy)
S3method(Calibrate, Taxonomy)
S3method(SetDistanceToChild, Taxonomy)
S3method(SetDistancesFromParent, Taxonomy)
S3method(SetTotalWeightAtLevel, Taxonomy)
S3method(plot, Taxonomy)
S3method(print, Taxonomy)
S3method(ComputeDistances, Taxonomy)
